In [ ]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [ ]:
print('Hello',1,4.5,True,sep='/')

Hello/1/4.5/True

In [ ]:
print('Hello',end='-')
print('World')

Hello-World

Data Types

In [ ]:
#Integer
print(8)
#1*10^308
print(1e309)

8
inf

In [ ]:
#Decimal/Integer
print(8.55)
print(1.7e309)

8.55
inf

In [ ]:
#Boolean
print(True)
print(False)

True
False

In [ ]:
#Text/String
print('Hello World')

Hello World

In [ ]:
#Complex No
print(5+6j)

(5+6j)

In [ ]:
#List -> C->Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary -> Key : Value pair
print({'name':'siddhi','age':'20','gender':'female'})

{'name': 'siddhi', 'age': '20', 'gender': 'female'}

In [ ]:
# type
type(2)

int

Variables - containers to store value

In [ ]:
name = 'siddhi'
print('My name is',name)

a = 5
b = 7
print(a+b)

My name is siddhi
12

In [ ]:
# Dynamic Typing - Where you dont need to specify the data type while declaring variable , pythom=n interpreter directly understands it .
a = 5
# Static Typing - Where you need to specify the data type while declaring variable
int b = 7
# Python supports Dynamic typing

In [ ]:
# Dynamic Binding - It can hold any type of Data Type
a = 5
print(a)
a = 'siddhi'
print(a)

# Static Binding - Once Data Type declared cant change
int a = 7

5
siddhi

In [ ]:
# Ways or Styles of declaring Variables
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [ ]:
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

Keywords & Identifiers

In [ ]:
#Keywords - Certain words which arereserved by compilers or interpreter
# Identifiers
# You can't start with a digit
# You can use only _
# Case Sensitive
# You can't use keywords

In [ ]:
# take input from user and store them into variable
fnum = input('Enter first number ')
snum = input('Enter second number ')
# add two variables
result = int(fnum)+ int(snum)
# print the result
print(result)
print(type(fnum))

Enter first number 12
Enter second number 14
26
<class 'str'>

Type Conversion

In [ ]:
# Implicit - done internally automatically by interpreter
print(5+5.5)
print(type(5),type(5.5))

10.5
<class 'int'> <class 'float'>

In [ ]:
# Explicit - done my user
# str -> int
print(type(int('5')))
#  int to str
print(type(str(5)))
# float
float(5)
print(type(float(5)))

<class 'int'>
<class 'str'>
<class 'float'>

Literals

In [ ]:
# Literals - Raw value which you store / value of variable

a = 0b1010 # Binary Literal
b = 100 # Decimal Literal
c = 0o310 # Octal Literal
d = 0x12c # Hexadecimal Literal

# Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

# Complex Literal
x = 3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001f606\U0001f923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [ ]:
a = True + 4
b = False + 10

print("a :",a)
print("b :",b)

a : 5
b : 10

In [ ]:
# None Literal
a = None
print(a)

None

Operators - Used to perform the operation on variables

In [ ]:
 # Arithmetric Operator
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)  #Integer Division - rounds off the result to integer

print(5%2)

print(5**2)

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operator

print(4>5)

print(4<5)

print(4>=5)

print(4<=5)

print(4==4)

print(4!=4)

False
True
False
True
True
False

In [ ]:
# Logical Operator

print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
# Bitwise Operator

# Bitwise and
print( 2 & 3)

# Bitwise or
print( 2 | 3)

# Bitwise xor - same then 0, different then 1
print( 2 ^ 3)

# Bitwise not
print( ~ 2)

# Bitwise left shift
print( 4 >> 2)

# Bitwise right shift
print( 5 << 2)

2
3
1
-3
1
20

In [ ]:
# Assignment Operator

# =
# a = 2

a = 2

# a = a % 2
a %= 2

print(a)

0

In [ ]:
# Membership Operator

# in/not in

print('D' in 'Delhi')

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

True
False
False

In [ ]:
# Program to find the sum of a 3 digit number entered by user

number = int(input('Enter a 3 digit number '))

# 345 % 10 -> 5 remainder
a = number%10

number = number // 10 # round off ans will be 34

# 34 % 10 -> 4
b = number%10

number = number // 10

# 3 % 10 -> 3
c = number%10

print( a + b + c )

Enter a 3 digit number 123
6

If-else -> Used to handle branching

In [ ]:
# login program and indentation
# email -> xyz@gmail.com
# password -> 1234

email = input('enter your email')
password = input('enter password')

if email == 'xyz@gmail.com' and password == '1234':
    print('Welcome')
elif email == 'xyz@gmail.com' and password != '1234':
    #tell the user
    print('incorrect password')
    password = input('enter password again')
    if password == '1234':
        print('Welcome,finally!')
    else:
        print('again incorrect password')
else:
    print('Not Correct')

enter your emailxyz@gmail.com
enter password1234
Welcome

In [ ]:
# program min of 3 number

a = int(input('enter first number '))
b = int(input('enter second number '))
c = int(input('enter third number '))

if a<b and a<c:
    print('smallest is',a)
elif b<c:
    print('smallest is',b)
else:
    print('smallest is',c)

enter first number 1
enter second number 2
enter third number 3
smallest is 1

In [ ]:
# program menu driven calculator

fnum = int(input('enter first number '))
snum = int(input('enter second number '))
op = input('enter the operation ')

if op == '+':
  print(fnum+snum)
elif op == '-':
  print(fnum-snum)
elif op == '*':
  print(fnum*snum)
else:
  print(fnum/snum)

Modules in Python - just like libraries, Its basically python file with some functions



*   Math
*   Keyword

*   Random
*   Datetime

In [ ]:
# math
import math

math.factorial(5)
math.floor(6.9)
math.sqrt(196)

14.0

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random

import random
print(random.randint(1,100))

54

In [ ]:
# datetime

import datetime
print(datetime.datetime.now())

2025-01-23 16:54:09.499236

Loops in Python

Example - Any website displaying products


*   While Loop
*   For Loop

In [ ]:
# While lloop example -> program to print the table

number = int(input('enter the number '))
i = 1
while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
# While with else

x = 1

while x < 3:
  print(x)
  x += 1
else:
  print('limit crossed')

1
2
limit crossed

In [ ]:
# Guessing game
# generate a random integer between 1 to 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess the number : '))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print('guess higher')
    else:
        print('guess lower')

    guess = int(input('guess the number : '))
    counter += 1

else:
    print('correct guess')
    print('attempts',counter)

guess the number : 34
guess higher
guess the number : 45
guess higher
guess the number : 48
guess higher
guess the number : 79
guess higher
guess the number : 89
guess lower
guess the number : 75
guess higher
guess the number : 83
guess higher
guess the number : 85
correct guess
attempts 8

In [ ]:
# For Loop

for i in range (1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range (10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in 'Delhi' :
  print(i)

D
e
l
h
i

In [ ]:
# for loop example
# Program - The current population of a town is 10000 The population of the town is increasing at the rate of 10 percent per year.
# You have to write a progrm to find out the population to find out the population at the end of the last 10 yrs.

curr_pop = 10000

for i in range (10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop /1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

Sequence sum

In [ ]:
# 1/1!+2/2!=3/3!+....

n = int(input('enter n '))

result = 0
fact = 1

for i in range (1,n+1):
  fact = fact * i
  result = result + i/fact

print(result)

enter n 5
2.708333333333333

Nested Loops

In [ ]:
# Example -> unique pairs

for i in range (1,5):
  for j in range (1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [ ]:
# Pattern 1 - Astric Pattern
# *
# **
# ***

rows = int(input('enter number of rows '))

for i in range (1,rows+1):
   for j in range (1,i+1):
    print('*',end='')
    print()

enter number of rows 3
*
**
***

In [ ]:
# Pattern 2
# 1
# 121
# 12321

rows = int(input('enter number of rows '))

for i in range (1,rows+1):
  for j in range (1,i+1):
    print(j,end='')
  for k in range (i-1,0,-1):
    print(k,end='')
  print()

enter number of rows 4
1
121
12321
1234321

Loop Control Statement


*   Break
*   Continous
*   Pass

In [ ]:
# Break -> To stop the execution at given condition
# Example -> Database Searching(Linear searching)

for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
# Print the all prime numbers in given range which is entered by user

lower = int(input('enter lower range '))
upper = int(input('enter upper range '))

for i in range (lower,upper+1):
  for j in range (2,i):
    if i%j == 0:
      break
  else:
    print(i)

enter lower range 4
enter upper range 10
5
7

In [ ]:
# Continue -> Skips the code where continue statement is wrote and continues the further execution
# Example -> E-commerce website where you want to display products whose stock is 0

for i in range (1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
# Pass

for i in range (1,10):
  pass

Strings - Strings are sequence of Characters

In Python specifically,strings are a sequence of unicode characters(16-bit char set)

Creating Strings

In [ ]:
# '' and "" are used to avoid confusion , example -> It's raining outside

s = 'hello'
s = "hello"

# ''' for multiline strings

s = '''hello'''
s = """hello"""

# using str function

s = str('hello')
print(s)

hello

Accessing Substrings from String

In [ ]:
# Extracting the character from given string is called indexing
# Positive Indexing - assigning the index from 0 to so on and starts from right to left

s = 'hello world'
print(s[6])

# Negative Indexing - assigning the index from -1 to so on and starts from left to right

v = 'siddhi and varun'
print(v[-3])

w
r

In [ ]:
# Slicing -> Extracting substrings from given string

s = 'hello world'
print(s[2:3])
print(s[2:8])
print(s[2:]) # skips first 2
print(s[:5]) # skips last 5
print(s[:])  # print entire string
print(s[0:6:2]) #skips every second character from left to right
print(s[6:0:-2]) #skips every second character from right to left
print(s[::-1]) # to reverse string
print(s[-5:])
print(s[-1:-6:-1])

l
llo wo
llo world
hello
hello world
hlo
wol
dlrow olleh
world
dlrow

Editing and Deleting on Strings

In [ ]:
# Editing Strings
s = 'hello world'
s[0] = 'H'
# Python strings are immutable(cants be changed once made)

TypeError: 'str' object does not support item assignment

In [ ]:
# Deleting Strings
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

Operations on Strings

Arithmetic Operators

In [ ]:
# + to concat strings
# * to print in multiple times
print('delhi' + ' ' + 'mumbai')
print('delhi'*5)

delhi mumbai
delhidelhidelhidelhidelhi

Relational Operator

In [ ]:
# We compare strings based on lexiography based on ascii value
'delhi' == 'mumbai'
'mumbai' == 'mumbai'
'mumbai' != 'pune'
'mumbai' > 'pune'
'Pune' > 'pune'

False

Logical Operators

In [ ]:
# In python if string is empty we consider it as false and if it consists the characters then we consider as true
'hello' and 'world'

'world'

In [ ]:
'hello' or 'world'

'hello'

In [ ]:
'' and 'world'

''

In [ ]:
'' or 'world'

'world'

In [ ]:
not ''

True

In [ ]:
not 'hello'

False

Loops on Strings

In [ ]:
# Strings in python are itterable and loops can be used for strings

for i in 'hello':
  print(i)

h
e
l
l
o

Membership Operator

In [ ]:
'D' in 'delhi'

False

Common Functions - Applicable on all data types

In [ ]:
# len
len('hello world')

11

In [ ]:
# max -> based on ascii value
max('hello world')

'w'

In [ ]:
# min -> based on ascii value
min('hello world')

' '

In [ ]:
# sorting
sorted('hello world')
sorted('hello world',reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

Functions only applicable on Strings

In [ ]:
# Capitalize
s = 'hello world'
s.capitalize()

'Hello world'

In [ ]:
# Title
s = 'hello world'
s.title()

'Hello World'

In [ ]:
# Upper
s = 'hello world'
s.upper()

'HELLO WORLD'

In [ ]:
# Lower
s = 'HELLO WORLD'
s.lower()

'hello world'

In [ ]:
# Swapcase
'Hello World'.swapcase()

'hELLO wORLD'

In [ ]:
# Count
'my name is siddhi'.count('i')

3

In [ ]:
# Find
'my name is siddhi'.find('is')

8

In [ ]:
# Index
'my name is siddhi'.index('is')

8

In [ ]:
# endswith
'my name is siddhi'.endswith('hi')

True

In [ ]:
# startswith
'my name is siddhi'.startswith('my')

True

In [ ]:
#format
name = 'siddhi'
gender = 'female'

'Hi my name is {} and I am a {}'.format(name,gender)

'Hi my name is siddhi and I am a female'

In [ ]:
# isalnum
'siddhi1234'.isalnum()

True

In [ ]:
#isalpha
'siddhi'.isalpha()

True

In [ ]:
# isdigit
'123abc'.isdigit()

False

In [ ]:
# isidentifier
'first_name'.isidentifier()

True

In [ ]:
# Split
'hi my name is siddhi'.split()
'hi my name is siddhi'.split('i')

['h', ' my name ', 's s', 'ddh', '']

In [ ]:
# Join
' '.join(['hi', 'my', 'name', 'is', 'siddhi'])

'hi my name is siddhi'

In [ ]:
# Replace
'hi my name is siddhi'.replace('siddhi','varun')

'hi my name is varun'

In [ ]:
# Strip
# Example - in website for login pages
'siddhi              '.strip()

'siddhi'

In [ ]:
# Find the length of a given string without using the len() function
s = input('enter the string ')

counter = 0

for i in s:
  counter += 1

print('length of string is',counter)

enter the string Siddhi Patwardhan
length of string is 17

In [ ]:
# Extract username from a given email
# Eg the email is xyz@gmail.com
# then the username should be xyz

s = input('enter the email ')

pos = s.index('@') # find out the index of @
print(s[0:pos]) # slice it from that position and print

enter the email xyz@gmail.com
xyz

In [ ]:
# Count the frequency of a particular character in a provided string
# Eg 'hello how are you' is a string, the frequency of h in this string is 2.

s = input('enter the string ')
term = input('what would like to search for ')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('frequency ',counter)

enter the string hello how are you
what would like to search for o
frequency  3

In [ ]:
# Write a program which can remove a particular character from a string

s = input('enter the string ')
term = input('what would like to remove ')

result = '' # create an empty string

for i in s: # add loop to current string
  if i != term:
    result = result + i

print(result)

enter the string siddhi
what would like to remove i
sddh

In [ ]:
# Write a program that can check whether a given string is palindrome or not
# malayalam

s = input('enter the string ')
flag = True
for i in range (0,len(s)//2):
  if s[i] != s[len(s) - i -1]:
    flag = False
    print('not a palindrome')
    break

if flag:
  print('palindrome')

enter the string racecar
palindrome

In [ ]:
# Write a program to count the number of words in a string without split()

s = input('enter the string ')

L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the string hii how are you
['hii', 'how', 'are', 'you']

In [ ]:
# Write a python program to convert a string to tiitle case without using the title()

s = input('enter the string ')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the string hii my name is siddhi
Hii My Name Is Siddhi

In [ ]:
# Write a program that can convert an integer to string

number = int(input('enter the number '))

digits = '0123456789'
result = ''
while number != 0:
  result = digits[number % 10] + result
  number = number//10

print(result)
print(type(result))

enter the number 234
234
<class 'str'>