Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

*   Ordered
*   Unchangeble
*   Allows duplicate

Creating Tuples

In [ ]:
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homogenous tuple
t3 = (1,2,3,4)
print(t3)
# hetrogenous tuple
t4 = (11,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(11, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

Accessing Items


*   Indexing
*   Slicing

In [ ]:
# Indexing
print(t3)
# positive indexing - left to right
print(t3[0])
# negative indexing - right to left
print(t3[-1])

(1, 2, 3, 4)
1
4

In [ ]:
# Slicing
print(t3[0:4]) # positive
print(t3[0:4:2])
print(t3[-3:-1]) # negative
print(t3[::-1]) # reverse

(1, 2, 3, 4)
(1, 3)
(2, 3)
(4, 3, 2, 1)

In [ ]:
# 2D tuple
t5[-1][0]

4

Editing Items

In [ ]:
print(t3)
t3[0] = 100
# immutable just like strings - cant be edited

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

Adding Items

In [ ]:
print(t3)
# not possible - you can not all items to tuples

(1, 2, 3, 4)

Deleting Items

In [ ]:
# you can not delete the portion of the tuple only entire tuple can be deleted using del keyword
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [ ]:
print(t5)
del t5[-1]

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

Operations on Tuples

In [ ]:
# + and *
t1 = (1,2,3)
t2 = (4,5,6)
print(t1+t2)
print(t1*3)

# membership
print(1 in t1)
print(10 in t1)

# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
False
1
2
3

Tuple Functions

In [ ]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)
sum(t)
min(t)
max(t)
sorted(t)
sorted(t,reverse=True)

[4, 3, 2, 1]

In [ ]:
# count
t = (1,2,3,4,5)
t.count(5)

1

In [ ]:
# index
t.index(5)

4

Difference between Lists and Tuples

*   Syntax - Brackets
*   Mutability - Tuples are immutable where as Lists are mutable
*   Speed -Tuples are faster then list bcoz they are immutable
*   Memory - Tuples take less memory then Lists
*   Built in funtionality - Built in functions are more in Lists
*   Error Prone - List is more error prone
*   Usability - Tuples are used for read only application where as we are making an application where user makes lots of changes you can use Lists

In [ ]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 9.341516494750977
Tuple time 6.949794054031372

In [ ]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [ ]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

Syntax Syntax

In [ ]:
# tuple unpacking - you can unpack tuple and store in variable
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [ ]:
# To swap values
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [ ]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [ ]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characteristics:


*   Unordered
*   Mutable
*   No Duplicates
*   Cant contain mutable data types inside set

Example - To compare two populations

Creating Sets

In [ ]:
# empty
s = {}
print(s)
print(type(s))
s = set()
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)
# s2 = {1,2,3,{4,5}} # not possible
# print(s2)
# homo and hetro
s3 = {1,'hello',4.5,(1,2,3),True}
print(s3)
# using type conversion
s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,2,3,4,1,2,3,4}
print(s5)
# Set cant have mutable data types
s6 = {1,2,[3,4]}
print(s6)

{}
<class 'dict'>
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 4.5, 'hello'}
{1, 2, 3}
{1, 2, 3, 4}

TypeError: unhashable type: 'list'

In [ ]:
# Sets are unordered
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

Accessing Items

In [ ]:
s1 = {1,2,3}
s1[0]
# 'set' object is not subscriptable - it is unordered thats why does not follow the concept of indexing or slicing

TypeError: 'set' object is not subscriptable

Editing Items

In [ ]:
s1 = {1,2,3,4}
s1[0] = 100
# can not be edited

TypeError: 'set' object does not support item assignment

Adding Items

In [ ]:
S = {1,2,3,4}
# add - adds one item at a time
S.add(5)
print(S)
# update - adds multiple items at a time
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

Deleting Items

In [ ]:
# del - you can delete complete set with del keyword
s = {1,2,3,4}
print(s)
del s
print(s)

{1, 2, 3, 4}

NameError: name 's' is not defined

In [ ]:
# discard - deletes the particular item - doesnt gives us error if we mention any element which is not present in set
s = {1,2,3,4}
s.discard(2)
print(s)

{1, 3, 4}

In [ ]:
# remove - works same as discard - gives us error if we mention any element which is not present in set
s = {1,2,3,4}
s.remove(2)
print(s)

{1, 3, 4}

In [ ]:
# pop - randomly deletes any item
s = {1,2,3,4}
s.pop()

1

In [ ]:
# clear - emptys the whole set
s = {1,2,3,4}
s.clear()
print(s)

set()

Set Operations

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# union(|)
s1 | s2
# Intersection(&)
s1 & s2
# Difference
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# iteration
for i in s1:
  print(i)

1
2
3
4
5

Set Functions

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [ ]:
# union
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# update - permanent change(adds)
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# intersection
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

{4, 5}

In [ ]:
# intersection_update(gets saved in s1)
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

{1, 2, 3}

In [ ]:
# difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
# symmetric_difference
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [ ]:
# symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint - not even one common element in both sets are called disjoint sets
s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.isdisjoint(s2)

False

In [ ]:
# issubset - 2nd set is already preset in 1st set is called subset
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issubset(s2)

True

In [ ]:
# issuperset
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [ ]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

Frozenset

Frozen set is just an immutable version of a Python set object

In [ ]:
# create frozenset
fs = frozenset([1,2,3])
print(fs)
print(type(fs))

frozenset({1, 2, 3})
<class 'frozenset'>

In [ ]:
# what works and what does not
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2
# works -> all read functions
# doesnt worl -> write operations

frozenset({1, 2, 3, 4, 5})

In [ ]:
# When to use -> Only for read only applications
# 2D fozensets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

Set Comprehension

In [ ]:
{ i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:


*   Mutable
*   Indexing has no meaning
*   keys cant be duplicated
*   keys cant be mutable items

Create Dictionary

In [ ]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'siddhi',
    'college': 'ap',
    'sem':4,
    'subjects':{
        'dsa':70,
        'maths':90,
        'english':80
    }
}
s
# using sequence and dict function
d4 = dict([('name','siddhi'),('age',20),(3,3)])
d4
# duplicate keys - only displays the updated value
d5 = {'name':'siddhi','name':'varun'}
d5
# mutable items as keys
d6 = {'name':'siddhi',(1,2,3):2}
d6

{'name': 'siddhi', (1, 2, 3): 2}

Accessing Items

In [ ]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['name']
# get
my_dict.get('age')
s['subjects']['maths']

90

Adding key-value pair

In [ ]:
d4['gender']='female'
d4['weight']=48
d4

s['subjects']['science']=90
s

{'name': 'siddhi',
 'college': 'ap',
 'sem': 4,
 'subjects': {'dsa': 70, 'maths': 90, 'english': 80, 'science': 90}}

Remove key-value pair

In [ ]:
d = {'name': 'siddhi', 'age': 20, 3: 3, 'gender': 'female', 'weight': 48}
# pop
d.pop(3)
print(d)
# popitem
d.popitem()
d.popitem()
print(d)
#del
del d['name']
print(d)
# clear
d.clear()
print(d)
# 2D
del s['subjects']['science']
s

{'name': 'siddhi', 'age': 20, 'gender': 'female', 'weight': 48}
{'name': 'siddhi', 'age': 20}
{'age': 20}
{}

{'name': 'siddhi',
 'college': 'ap',
 'sem': 4,
 'subjects': {'dsa': 70, 'english': 80}}

Editing key-value pair

In [ ]:
s['sem'] = 5
s

{'name': 'siddhi',
 'college': 'ap',
 'sem': 5,
 'subjects': {'dsa': 70, 'english': 80}}

Dictionary Operations


* Membership
* Iteration

In [ ]:
# Membership
print(s) # it searches for key not value

'name' in s

{'name': 'siddhi', 'college': 'ap', 'sem': 5, 'subjects': {'dsa': 70, 'english': 80}}

True

In [ ]:
# Iteration
d = {'name':'nitish','gender':'male','age':33}

for i in d:
  print(i,d[i])

name nitish
gender male
age 33

Dictionary Functions

In [ ]:
# len - it will give no of key value pairs
d
len(d)

3

In [ ]:
# sorted - sorts all keys - its output is always in list
sorted(d)
max(d)
min(d)

'age'

In [ ]:
# items - displays then in tuples
print(d)
print(d.items())
# keys - prints all keys
print(d.keys())
# values - prints all values
print(d.values())

{'name': 'nitish', 'gender': 'male', 'age': 33}
dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 33])

In [ ]:
# udpate
d1 = {1:1,2:4,4:9}
d2 = {4:16,5:25}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 4: 16, 5: 25}

Dictionary Comprehension

{ key: value for vars in iterable }

In [ ]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [ ]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [ ]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [ ]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}